.section1 {
  background-image: linear-gradient(to right, #0F2027, #2C5364);
}

.main-head {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
}

.sub-head {
  color: #020202;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  margin-left: 25%;
}
.navibar {
  display: block;
  background-image: linear-gradient(to right, #0F2027, #2C5364);
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  font-weight: lighter;
  border-bottom: #ffffff solid 3px;
}
.navibar a {
  float: right;
  color: white;
  padding: 16px 20px;
  text-align: center;
  letter-spacing: 3px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-head {
    font-size: 32px ;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 13px;
    margin-left: 15%;
    margin-right: 15%;
  }
.navibar {
  font-size:10px;
  }
.navibar a {
  padding: 7px 9px;
  letter-spacing: 2px;
  }
}
.row {
  margin-right: 0px;
}

/* Extra small devices (phones like Motog4) */
@media only screen and (min-width: 300px) {
  .main-head {
    font-size: 32px ;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 9px;
    margin-left: 13%;
  }
}
/* Extra small devices (phones like PixelXL) */
@media only screen and (min-width: 400px) {
  .main-head {
    font-size: 32px ;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 9px;
    margin-left: 18%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .main-head {
    font-size: 55px;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 16px;
    margin-left: 20%;
  }
  .navibar {
    font-size:12px;
    }
  .navibar a {
    padding: 10px 11px;
    letter-spacing: 2px;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-head {
    font-size: 70px;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 20px;
    margin-left: 15%;
  }
  .navibar {
    font-size:14px;
    }
  .navibar a {
    padding: 12px 14px;
    letter-spacing: 2px;
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-head {
    font-size: 100px;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 34px;
    margin-left: 15%;
  }
  .navibar {
    font-size: 20px;
    }
  .navibar a {
    padding: 14px 16px;
    letter-spacing: 2px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-head {
    font-size: 125px;
    font-weight: lighter;
  }
  .sub-head {
    font-size: 35px;
    margin-left: 25%;
  }
}
